<div class="info-inner">
	<p class="name"><%= data.name %></p>
	<p class="bio"><%= data.bio %></p>
	<p class="action-long"><%= data.actionLong %></p>
	<p class="personal-action"><strong>What <%= data.lastName %> has personally changed:</strong> <%= data.personalAction %></p>
</div>
	{{? data.name2 }}
	<div class="info-inner">
		<p class="name"><%= data.name2 %></p>
		<p class="bio"><%= data.bio2 %></p>
		<p class="action-long"><%= data.actionLong2 %></p>
		<p class="personal-action"><strong>What <%= data.lastName2 %> has personally changed:</strong> <%= data.personalAction2 %></p>
	</div>
	{{?}}