<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body>

    <responsive-child>
      <div class="outer">
          <div class="image">
              <img class="background" src="./assets/orca-action.jpg">
            <div class="overlay"><%= t.include("assets/orca-action.svg") %></div>
          </div>
          <div class="image-mobile">
              <img class="background2" src="./assets/orca-action-mobile.jpg">
            <div class="overlay-mobile"><%= t.include("assets/orca-action-mobile.svg") %></div>
          </div>
          <div class="info">
            <div class="details">
              <p class="note"><i>Click on any number or arrow to begin</i></p>
            </div>
            <div class="buttons">
              <div class="goto back disabled"><i class="fa fa-chevron-left"></i> Previous</div>
              <div class="goto next">Next <i class="fa fa-chevron-right"></i></div>
            </div>
          </div>
        <div class="inner">
          <div class="credits"><em>Sources: Seattle Times reporting</em><br>EMILY M. ENG / THE SEATTLE TIMES</div>
        </div>
      </div>
    </responsive-child>

    <script src="app.js" async></script>
    <script>
      var data = <%= JSON.stringify(json.dataOrcaActionMatrix_action) %>;
    </script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
